* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "open sans", "sans-serif";
}

a {
  text-decoration: none;
  cursor: default;
}

ul {
  list-style: none;
  padding-left: 0;
}

h1 {
  font-size: 48px;
  font-weight: 700;
  margin: 16px 0px;
}

h2 {
  font-size: 18px;
  font-weight: 600;
  margin: 8px 0px;
}

h3 {
  font-size: 18px;
  font-weight: 400;
  margin: 8px 0px;
}

p {
  font-size: 18px;
  font-weight: 400;
  margin: 4px 0px;
}

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #0069c0;
  padding: 16px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1000;
  height: 100px;
  overflow: hidden;
  line-height: 100px;
}
#navbar .navbar__logo {
  font-size: 28px;
  font-weight: 600;
}
#navbar .navbar__menu {
  display: flex;
}
#navbar .navbar__menu .navbar__menu__item {
  font-weight: 600;
  padding: 8px 12px;
  margin: 0 4px;
  cursor: pointer;
}
#navbar .navbar__menu .navbar__menu__item:hover {
  color: #ff5722;
  border-radius: 4px;
}
#navbar .navbar__menu .active {
  border: 1px solid #ff5722;
  border-radius: 4px;
}