#home {
  background: url("/imgs/homeBackground.png");
  background-position: center;
  background-size: cover;
  position: relative;
  background-repeat: no-repeat;
  height: 800px;
  padding: 100px;
  text-align: center;
}
#home .home__title,
#home .home__description {
  color: #fff;
}
#home .home__contact {
  font-size: 18px;
  font-weight: 700;
  margin: 24px;
  padding: 8px 12px;
  border: 2px solid #fff;
  border-radius: 4px;
  color: #fff;
}

#about {
  background-position: center;
  background-size: cover;
  position: relative;
  height: 800px;
}