// color
$sky: #1865f6;
$light-blue: #0021ff;
$dark-blue: #203c99;
$yellow: #ffae32;
$red: #ff303b;
$pink: #e07c9b;
$green: #007f55;
$orange: #ff6601;
$dark-grey: #4d4d4d;
$light-grey: #7c7979;

// font size
$h1: 48px;
$h2: 28px;
$h3: 18px;
$h4: 16px;

// font weight
$weight-bold: 700;
$weight-semi-bold: 600;
$weight-regular: 400;

// size
$size-border-radius: 4px;
