@import "vars";
@import "mixins";

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "open sans", "sans-serif";
  cursor: default;
}

a {
  text-decoration: none;
  cursor: default;
}

ul {
  list-style: none;
  padding-left: 0;
}

h1 {
  font-size: $h1;
  font-weight: $weight-bold;
  margin: 16px 0px;
}

h2 {
  font-size: $h2;
  font-weight: $weight-semi-bold;
  margin: 8px 0px;
}

h3 {
  font-size: $h3;
  font-weight: $weight-regular;
  margin: 8px 0px;
}
p {
  font-size: $h4;
  font-weight: $weight-regular;
  margin: 4px 0px;
}
button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

// navbar
#navbar {
  display: flex;
  justify-content: space-between;
  background-color: $sky;
  align-items: center;
  color: #fff;
  padding: 16px;

  .navbar__logo {
    font-size: $h2;
    font-weight: $weight-bold;
    a {
      color: #fff;
    }
  }

  .navbar__menu {
    display: flex;

    .navbar__menu__item {
      padding: 8px 12px;
      margin: 0 4px;
      cursor: pointer;
      font-weight: $weight-semi-bold;
      font-size: $h3;
      border-radius: $size-border-radius;
      .active {
        border: 1px solid #fff;
      }
      &:hover {
        background-color: orange;
      }
    }
  }
}
