@import "vars";
@import "mixins";

.section {
  padding: 50px;
  text-align: center;
  margin: auto;
}

.section__container {
  // max-width: 1200px;
  margin: auto;
}
#home {
  background: url("../imgs/homeBackground.png");
  background-position: center;
  background-size: cover;
  position: relative;
  background-repeat: no-repeat;
  height: 1000px;
  padding: 100px;
  padding-top: 120px;
  text-align: center;
  .home__title,
  .home__description {
    color: #fff;
  }
  .home__contact {
    font-size: $h3;
    font-weight: $weight-bold;
    margin: 24px;
    padding: 8px 12px;
    border: 2px solid #fff;
    border-radius: $size-border-radius;
    color: #fff;
    &:hover {
      background-color: $red;
    }
  }
}

#about {
  background-color: $sky;
  background-position: center;
  background-size: cover;
  position: relative;
  padding: 150px;
  box-sizing: content-box;
  h1 {
    color: $red;
  }
  .about__majors {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 80px 0;
    .major {
      width: 50%;
      margin-bottom: 50px;
      color: $light-yellow;
      line-height: 2;

      .major__icon {
        width: 170px;
        height: 170px;
        line-height: 170px;
        font-size: 70px;
        margin: auto;
        color: $yellow;
        border: 3px solid $yellow;
        border-radius: 50%;
        margin-bottom: 16px;
        &:hover i {
          color: $pink;
          transform: rotate(-30deg) scale(1.1);
        }
        i {
          transition: all 300ms ease;
        }
        .major__title,
        .major__description {
          color: $light-yellow;
        }
        .major__description {
          font-size: $h3;
          line-height: 1.5;
        }
      }

      .langset {
        display: flex;
        border-radius: 50px;
        color: #333;
        margin: 20px 0;
        .langset__left {
          flex-basis: 100%;
          color: #fff;
          padding: 20px 40px;
          .lang {
            margin-bottom: 32px;
            .lang__description {
              display: flex;
              justify-content: space-between;
            }
            .lang__bar {
              width: 100%;
              height: 10px;
              background-color: grey;
              border-radius: 10px;
              .lang__value {
                width: 100%;
                height: 10px;
                background-color: $yellow;
                border-radius: 10px;
              }
            }
          }
        }
      }
    }
  }
}

#skills {
  background: url("../imgs/homeBackground.png");
  background-position: center;
  background-size: cover;
  h1 {
    color: #fff;
  }
  .skillset {
    display: flex;
    border-radius: 50px;
    background-color: $light-yellow;
    color: #333;
    margin: 20px 0;
    .skillset__left {
      flex-basis: 60%;
      border-radius: 50px;
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
      background-color: $light-grey;
      color: #fff;
      padding: 20px 40px;
      .skill {
        margin-bottom: 32px;
        .skill__description {
          display: flex;
          justify-content: space-between;
        }
        .skill__bar {
          width: 100%;
          height: 10px;
          background-color: grey;
          border-radius: 10px;
          .skill__value {
            width: 100%;
            height: 10px;
            background-color: $yellow;
            border-radius: 10px;
          }
        }
      }
    }
    .skillset__right {
      flex-basis: 40%;
      .tools {
        .skillset__title {
          padding-top: 25px;
        }
        .tools__list {
          line-height: 2;
        }
      }
    }
  }
}

#work {
  color: $light-yellow;
  background: $dark-blue;

  .category {
    margin: 100px auto;
    ul {
      display: flex;
      justify-content: center;
      li {
        width: 180px;
        height: 60px;
        background-color: #111;
        color: #fff;
        border-radius: 100px;
        margin: 0 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        font-weight: 700;
        text-transform: uppercase;
        transition: all 0.25s ease;
        cursor: pointer;
        overflow: hidden;
        &.on {
          background-color: $red;
          @include longShadow(40, darken($red, 15));
        }
      }
    }
  }

  .list {
    ul {
      width: 1400px;
      margin: 100px auto;
      display: flex;
      flex-wrap: wrap;
      li {
        width: 25%;
        padding: 10px;
        box-sizing: border-box;
        .inner {
          background-color: $light-yellow;
          a {
            display: block;
            padding: 10px;
            color: #fff;
          }
          img {
            width: 100%;
          }
          .info {
            h2 {
              font-size: 20px;
              font-weight: 700;
              margin: 10px 0;
              color: $green;
            }
            .desc {
              color: #333;
              line-height: 1.5;
            }
            .category {
              margin-top: 20px;
              margin-bottom: 0;
              span {
                display: inline-block;
                margin-right: 5px;
                padding: 7px 20px;
                font-size: 12px;
                background-color: $orange;
                color: #fff;
                border-radius: 100px;
                text-transform: uppercase;
                font-weight: 500;
                line-height: 1;
                overflow: hidden;
                @include longShadow(20, darken($orange, 15));
              }
            }
          }
        }
      }
    }
  }

  .cursor {
    position: fixed;
    width: 20px;
    height: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 1000px;
    left: 50%;
    top: 50%;
    z-index: 999999;
    transform: translate(-50%, -50%);
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    overflow: hidden;
    @include longShadow(50, darken(#007f55, 15));
  }

  // Loading message
  .loading_msg {
    position: fixed;
    top: 48%;
    width: 100%;
    z-index: -1;
  }
}
// scroll
.arrow-up {
  position: fixed;
  bottom: 50px;
  right: 50px;
  font-size: 50px;
  background-color: $orange;
  color: $light-yellow;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  opacity: 0;
  transition: opacity 300ms ease-in;
  pointer-events: none;
  pointer-events: auto;
  &.visible {
    opacity: 1;
  }
}

// for below 768px screen width
@media screen and (max-width: 768px) {
  :root {
    // font size
    $h1: 30px;
    $h2: 18px;
    $h3: 16px;
    $h4: 14px;
  }

  #navbar {
    flex-direction: column;
    align-items: flex-start;
    background-color: $green;
    .navbar__menu {
      flex-direction: column;
      text-align: center;
      width: 100%;
      display: none;
      .open {
        display: block;
      }
    }
    .navbar__toggle-btn {
      display: block;
      top: 16px;
      right: 16px;
      font-size: $h3;
    }
  }

  .section {
    padding: 16px;
    padding-top: 40px;
  }

  .about__majors {
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 0px;
  }
  .major {
    margin-bottom: 30px;
  }
  .skillset {
    flex-direction: column;
  }
  .category__btn {
    margin: 4px 0;
  }

  .project {
    flex-grow: 1;
  }
  .arrow-up {
    width: 50px;
    height: 50px;
    font-size: 30px;
    line-height: 50px;
    right: 16px;
    bottom: 16px;
  }
}

.fancybox__caption {
  a {
    color: #fff;
    background-color: $light-pink;
    font-weight: 500;
    border-radius: 20px;
    padding: 5px;
  }
}
