@import "vars";
@import "mixins";

.section {
  padding: 50px;
  text-align: center;
  margin: auto;
}

.section__container {
  max-width: 1200px;
  margin: auto;
}
#home {
  background: url("/imgs/homeBackground.png");
  background-position: center;
  background-size: cover;
  position: relative;
  background-repeat: no-repeat;
  height: 800px;
  padding: 100px;
  padding-top: 120px;
  text-align: center;
  .home__title,
  .home__description {
    color: #fff;
  }
  .home__contact {
    font-size: $h3;
    font-weight: $weight-bold;
    margin: 24px;
    padding: 8px 12px;
    border: 2px solid #fff;
    border-radius: $size-border-radius;
    color: #fff;
    &:hover {
      background-color: $red;
    }
  }
}

#about {
  background-color: $sky;
  background-position: center;
  background-size: cover;
  position: relative;
  padding: 150px;
  box-sizing: content-box;
  h1 {
    color: $red;
  }
  .about__majors {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 80px 0;
    .major {
      width: 50%;
      margin-bottom: 50px;
      color: $light-yellow;
      line-height: 2;

      .major__icon {
        width: 170px;
        height: 170px;
        line-height: 170px;
        font-size: 70px;
        margin: auto;
        color: $yellow;
        border: 3px solid $yellow;
        border-radius: 50%;
        margin-bottom: 16px;
        &:hover i {
          color: $pink;
          transform: rotate(-30deg) scale(1.1);
        }
        i {
          transition: all 300ms ease;
        }
        .major__title,
        .major__description {
          color: $light-yellow;
        }
        .major__description {
          font-size: $h3;
          line-height: 1.5;
        }
      }

      .langset {
        display: flex;
        border-radius: 50px;
        color: #333;
        margin: 20px 0;
        .langset__left {
          flex-basis: 100%;
          color: #fff;
          padding: 20px 40px;
          .lang {
            margin-bottom: 32px;
            .lang__description {
              display: flex;
              justify-content: space-between;
            }
            .lang__bar {
              width: 100%;
              height: 10px;
              background-color: grey;
              border-radius: 10px;
              .lang__value {
                width: 100%;
                height: 10px;
                background-color: $yellow;
                border-radius: 10px;
              }
            }
          }
        }
      }
    }
  }
}

#skills {
  background: url("/imgs/homeBackground.png");
  background-position: center;
  background-size: cover;
  h1 {
    color: #fff;
  }
  .skillset {
    display: flex;
    border-radius: 50px;
    background-color: $light-yellow;
    color: #333;
    margin: 20px 0;
    .skillset__left {
      flex-basis: 60%;
      border-radius: 50px;
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
      background-color: $light-grey;
      color: #fff;
      padding: 20px 40px;
      .skill {
        margin-bottom: 32px;
        .skill__description {
          display: flex;
          justify-content: space-between;
        }
        .skill__bar {
          width: 100%;
          height: 10px;
          background-color: grey;
          border-radius: 10px;
          .skill__value {
            width: 100%;
            height: 10px;
            background-color: $yellow;
            border-radius: 10px;
          }
        }
      }
    }
    .skillset__right {
      flex-basis: 40%;
      .tools {
        .skillset__title {
          padding-top: 25px;
        }
        .tools__list {
          line-height: 2;
        }
      }
    }
  }
}

#work {
  color: $light-yellow;
  background: $dark-blue;

  // Filter buttons
  .button-area {
    .button {
      display: inline-block;
      padding: 10px;
      margin: 30px 5px;
      background-color: rgba(#fff, 0.2);
      border-radius: 3px;
      cursor: pointer;
      transition: all 0.3s ease;
      &:hover {
        background-color: rgba(#fff, 0.32);
      }
      // When the button is selected
      &.active {
        background-color: rgba(#fff, 0.52);
        box-shadow: 0 0 8px rgba(#000, 0.6) inset;
      }
    }
    input[type="checkbox"] {
      display: none;
    }
  }

  // Masonry container
  .mnsry_container {
    position: relative;
    &:hover {
      img {
        opacity: 0.28;
      }
    }

    // Each masonry item
    article {
      width: 33.3%;
      min-height: 200px;
      overflow: hidden;
      cursor: pointer;
      // opacity: 0;
      h1 {
        position: absolute;
        top: 46%;
        left: 0;
        width: 100%;
        text-shadow: 0 0 10px rgba(#000, 0.4);
        transition: all 1.2s;
        z-index: 1;
      }
      img {
        display: block;
        width: 100%;
        transition: all 0.8s;
      }

      &:hover {
        h1 {
          transform: translate3d(0, 18px, 0) scale(1.2, 0.4);
          opacity: 0;
        }
        img {
          opacity: 1;
          transform: scale(1.04);
        }
      }
    }
  }
  // Loading message
  .loading_msg {
    position: fixed;
    top: 48%;
    width: 100%;
    z-index: -1;
  }
}

// scroll
.arrow-up {
  position: fixed;
  bottom: 50px;
  right: 50px;
  font-size: 50px;
  background-color: $orange;
  color: $light-yellow;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  opacity: 0;
  transition: opacity 300ms ease-in;
  pointer-events: none;
  pointer-events: auto;
}
.arrow-up.visible {
  opacity: 1;
}

// for below 768px screen width
@media screen and (max-width: 768px) {
  :root {
    // font size
    $h1: 30px;
    $h2: 18px;
    $h3: 16px;
    $h4: 14px;
  }

  #navbar {
    flex-direction: column;
    align-items: flex-start;
    background-color: $green;
    .navbar__menu {
      flex-direction: column;
      text-align: center;
      width: 100%;
      display: none;
      .open {
        display: block;
      }
    }
    .navbar__toggle-btn {
      display: block;
      top: 16px;
      right: 16px;
      font-size: $h3;
    }
  }

  .section {
    padding: 16px;
    padding-top: 40px;
  }

  .about__majors {
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 0px;
  }
  .major {
    margin-bottom: 30px;
  }
  .skillset {
    flex-direction: column;
  }
  .category__btn {
    margin: 4px 0;
  }

  .project {
    flex-grow: 1;
  }
  .arrow-up {
    width: 50px;
    height: 50px;
    font-size: 30px;
    line-height: 50px;
    right: 16px;
    bottom: 16px;
  }
}
// Mediaqueries
@media (max-width: 860px) {
  // set to 2 column
  #mnsry_container {
    article {
      width: 50%;
      min-height: 150px;
    }
  }
}
@media (max-width: 667px) {
  // set to 1 column
  #mnsry_container {
    article {
      width: 100%;
      min-height: 220px;
    }
  }
}
