@import "vars";
@import "mixins";

.section {
  padding: 50px;
  text-align: center;
  margin: auto;
}

.section__container {
  max-width: 1200px;
  margin: auto;
}
#home {
  background: url("/imgs/homeBackground.png");
  background-position: center;
  background-size: cover;
  position: relative;
  background-repeat: no-repeat;
  height: 800px;
  padding: 100px;
  padding-top: 120px;
  text-align: center;
  .home__title,
  .home__description {
    color: #fff;
  }
  .home__contact {
    font-size: $h3;
    font-weight: $weight-bold;
    margin: 24px;
    padding: 8px 12px;
    border: 2px solid #fff;
    border-radius: $size-border-radius;
    color: #fff;
  }
}

#about {
  background-color: $sky;
  background-position: center;
  background-size: cover;
  position: relative;
  padding: 150px;
  box-sizing: content-box;
  h1 {
    color: $red;
  }
  .about__majors {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 80px 0;
    .major {
      width: 50%;
      margin-bottom: 50px;
      color: $light-yellow;
      line-height: 2;

      .major__icon {
        width: 170px;
        height: 170px;
        line-height: 170px;
        font-size: 70px;
        margin: auto;
        color: $yellow;
        border: 3px solid $yellow;
        border-radius: 50%;
        margin-bottom: 16px;
        &:hover i {
          color: $pink;
          transform: rotate(-30deg) scale(1.1);
        }
        i {
          transition: all 300ms ease;
        }
        .major__title,
        .major__description {
          color: $light-yellow;
        }
        .major__description {
          font-size: $h3;
          line-height: 1.5;
        }
      }

      .langset {
        display: flex;
        border-radius: 50px;
        color: #333;
        margin: 20px 0;
        .langset__left {
          flex-basis: 100%;
          color: #fff;
          padding: 20px 40px;
          .lang {
            margin-bottom: 32px;
            .lang__description {
              display: flex;
              justify-content: space-between;
            }
            .lang__bar {
              width: 100%;
              height: 10px;
              background-color: grey;
              border-radius: 10px;
              .lang__value {
                width: 100%;
                height: 10px;
                background-color: $yellow;
                border-radius: 10px;
              }
            }
          }
        }
      }
    }
  }
}

#skills {
  background: url("/imgs/homeBackground.png");
  background-position: center;
  background-size: cover;
  h1 {
    color: #fff;
  }
  .skillset {
    display: flex;
    border-radius: 50px;
    background-color: $light-yellow;
    color: #333;
    margin: 20px 0;
    .skillset__left {
      flex-basis: 60%;
      border-radius: 50px;
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
      background-color: $light-grey;
      color: #fff;
      padding: 20px 40px;
      .skill {
        margin-bottom: 32px;
        .skill__description {
          display: flex;
          justify-content: space-between;
        }
        .skill__bar {
          width: 100%;
          height: 10px;
          background-color: grey;
          border-radius: 10px;
          .skill__value {
            width: 100%;
            height: 10px;
            background-color: $yellow;
            border-radius: 10px;
          }
        }
      }
    }
    .skillset__right {
      flex-basis: 40%;
      .tools {
        .skillset__title {
          padding-top: 25px;
        }
        .tools__list {
          line-height: 2;
        }
      }
    }
  }
}

#work {
  color: $light-yellow;
  background: $dark-blue;
  .section__container {
    .work__categories {
      margin: 40px;
      .category__btn {
        color: $light-yellow;
        border: 1px solid $light-yellow;
        border-radius: $size-border-radius;
        font-size: $h3;
        padding: 8px 48px;
        .active,
        &:hover {
          background-color: $orange;
          color: #fff;
        }

        .active .category__count,
        &:hover .category__count {
          opacity: 1;
          top: 0;
        }

        .category__count {
          background-color: $dark-grey;
          border-radius: 50%;
          color: #fff;
          width: 24px;
          height: 24px;
          display: inline-block;
          line-height: 24px;
          position: relative;
          top: -20px;
          left: 4px;
          opacity: 0;
          transition: all $animation-duration ease-in;
        }
      }
    }
    .work__projects {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      .project {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 280px;
        height: 250px;
        margin: 2px;
        background-color: $light-orange;
        position: relative;
        &:hover .project__description {
          opacity: 0.8;
          transform: translateY(0px);
        }
        .project__img {
          max-width: 100%;
          max-height: 100%;
        }
        .project__description {
          position: absolute;
          background-color: black;
          display: flex;
          flex-direction: column;
          justify-content: center;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          color: #fff;
          opacity: 0;
          transform: translateY(10px);
          transition: all $animation-duration ease-in;
          h3 {
            &:after {
              content: "";
              display: block;
              position: relative;
              left: 50%;
              width: 25px;
              height: 2px;
              margin-left: -12px;
              margin-top: 8px;
              background-color: #fff;
            }
          }
        }
      }
    }
  }
}

#gracphic__design {
  background: $pink;
}

// for below 768px screen width
@media screen and (max-width: 768px) {
  .navbar__toggle-btn {
    display: block;
  }
  #navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  .navbar__menu {
    flex-direction: column;
    text-align: center;
    width: 100%;
    display: none;
  }
  .about__majors {
    flex-direction: column;
  }
  .major {
    margin-bottom: 38px;
  }
  .skillset {
    flex-direction: column;
  }
  .project {
    flex-grow: 1;
  }
}
